<section xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
        <div class="row" style="margin-bottom:50px">

        </div>
        <div class="row">
            <div class="jumbotron">
                <h3>Current offers</h3>
                <ul class="list-group">
                    <div *ngFor="#offer of offers">
                        <li class="list-group-item"><span class="badge">{{offer.price}} $</span> {{offer.name}}</li>
                    </div>
                </ul>
            </div>

        </div>

    </div>
</section>
